name: Publish Native Container Images

on:
  workflow_dispatch
env:
  GHCR_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  DOCKERHUB_NAMESPACE: ${{ secrets.DOCKERHUB_USER }}

jobs:
  push_to_registry:
    strategy:
         #fail everything if one fails. This will catch the tests and stop windows if any tests fail
        fail-fast: true
        matrix:
          os:
              - ubuntu-latest
              - ubuntu-24.04-arm
              - macos-latest
              - windows-latest
                
    name: Push Docker image to Docker Hub and GHCR
    runs-on: ${{ matrix.os }}
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'push' || (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') }}
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Checkout with LFS
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt-hotspot'
          cache: 'sbt'
      
      - name: Set up SBT
        uses: sbt/setup-sbt@v1
      
      - name: Declare some Variables
        shell: bash
        run: |
          echo "short_git_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
          echo "git_branch=$(echo ${GITHUB_REF#refs/heads/})" >> "$GITHUB_ENV"
      
      - name: Package Scala Application
        run: sbt package
        
      - name: Save JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: goatrodeo-${{ github.run_id }}
          path: target/scala-*/goatrodeo*.jar
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      # - name: Log in to Github Container Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ${{ env.GHCR_REGISTRY }}
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GH_TOKEN }}
      
      - name: Extract Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
              ${{ env.DOCKERHUB_NAMESPACE }}/${{ github.event.repository.name }}  
    # ${{ env.GHCR_REGISTRY }}/${{ env.IMAGE_NAME }}
            
          tags: |
            type=semver,pattern={{version}}
      
      - name: Stage Docker Build Environment from SBT
        run: |
          sbt Docker/stage
      
      - name: Build and Push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: target/docker/stage
          push: true
          provenance: mode=max
          sbom: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      
      # - name: Generate Artifact Attestation
      #   uses: actions/attest-build-provenance@v1
      #   with:
      #     subject-name: ${{ env.GHCR_REGISTRY }}/${{ env.IMAGE_NAME }}
      #     subject-digest: ${{ steps.push.outputs.digest }}
      #     push-to-registry: true
